:root {
    --blue-dark: #031163;
    --blue-light: #1978A5;
    --blue-turquoise: #1FBFB8;
    --blue-dark-t: rgba(3, 17, 99, 0.54);
    --blue-light-t: rgba(25, 120, 165, 0.54);
    --blue-turquoise-t: rgba(31, 191, 184, 0.54);
    --blue-home: #0A415B;
}

body {
    font-family: "Roboto Light", sans-serif;
}

header {
    position: relative;
    height: 12rem;
}

header img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top left;
}

header h1 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    border: 0.2rem white solid;
    border-radius: 0.5rem;
    padding: 0.3rem 2rem;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(to right, var(--blue-turquoise), var(--blue-dark));
    opacity: 0.7;
}

.section-home {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 3rem;
}

.section-home article {
    position: relative;
    height: 12rem;
}

.home-img {
    position: absolute;
    width: 12rem;
    height: 12rem;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    object-fit: cover;
    border-radius: 50%;
}

.home-img[alt="home-img2"] {
    object-position: right;
}

.home-overlay {
    content: "";
    position: absolute;
    width: 12rem;
    height: 12rem;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    object-fit: cover;
    border-radius: 50%;
    background-color: var(--blue-turquoise-t);
}

.home-overlay1 {
    background-color: var(--blue-turquoise-t);
}

.home-overlay2 {
    background-color: var(--blue-light-t);
}

.home-overlay3 {
    background-color: var(--blue-dark-t);
}

article .h2-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    font-size: 0.75rem;
    margin: auto;
    height: 6rem;
    width: 6rem;
    text-align: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(0, 0);
}

article .home-img[alt="home-img1"] + div + h2 {
    background-color: var(--blue-turquoise);
}

article .home-img[alt="home-img2"] + div + h2 {
    background-color: var(--blue-light);
}

article .home-img[alt="home-img3"] + div + h2 {
    background-color: var(--blue-dark);
}

footer {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    height: 12rem;
    background-image: linear-gradient(to right, var(--blue-turquoise), var(--blue-light));
    color: white;
    text-decoration: none;
}

footer h2 {
    text-align: center;
    align-self: center;
    font-weight: bold;
    text-transform: uppercase;
    border: 0.2rem white solid;
    border-radius: 0.5rem;
    padding: 0.5rem 0.3rem;
    width: fit-content;
}

footer nav {
    padding: 0 1rem;
}

footer nav, footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
}

footer ul {
    list-style: none;
    gap: 1rem;
}

/* PAGEs */

.hero {
    position: relative;
    height: 12rem;
}

.hero img {
    object-fit: cover;
    height: 12rem;
    width: 100%;
}

.hero h2 {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    background-color: var(--blue-dark-t);
    margin: 0;
    padding: 1rem 0;
    color: white;
    font-weight: lighter;
    font-size: 1.2rem;
}

.breadcrumb {
    margin: 3rem 0 2rem 1rem;
    color: var(--blue-home);
    font-size: 0.75rem;
}

.breadcrumb span {
    margin-left: 0.5rem;
    color: black;
}

.h2-formation {
    color: var(--blue-dark);
}

h2 span {
    margin-left: 0.5rem;
}

.section-pages {
    padding: 3rem 1rem;
}

.hero-price h2 {
    background-color: var(--blue-light-t);
}

.h2-pricing {
    color: var(--blue-light);
}

.hero-visit h2 {
    background-color: var(--blue-turquoise-t);
}


.h2-visit {
    color: var(--blue-turquoise);
}


/*media queries*/

@media (min-width: 750px) {
    .section-home {
        min-height: 50vh;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    footer {
        padding: 2rem 10rem;
    }
}


@media (min-width: 1400px) {
    .section-home article, .home-img, .home-overlay {
        height: 20rem;
        width: 20rem;
    }

    article .h2-home {
        font-size: 1.5rem;
        height: 10rem;
        width: 10rem;
    }

    main {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .hero {
        width: 25%;
        min-height: 30rem;
    }

    .hero img {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }

    main > div {
        width: 75%;
    }

    .section-pages {
        padding: 0 1rem;
    }

}