main {
    width: 60%;
    margin: auto;
    font-family: sans-serif;
}

/*Background Color*/
.bg-green {
    background-color: #568856;
}

/*Title Style*/
h1 {
    text-align: center;
}

/*Form style*/
form {
    width: 55%;
    margin: auto;
    padding: 30px 25px 15px 25px;
    font-size: 20px;
    border-radius: 5px;
}

.btn-validate {
    margin-top: 20px;
    padding: 5px 30px;
    border-radius: 3px;
    border: 0;
}

input[type="text"] {
    border: 0;
    padding: 5px 5px;
    border-radius: 5px;
    margin-top: 10px;
}


/*Styles*/
i {
    margin-right: 3px;
}

.inline {
    display: inline;
}

.block {
    display: block;
}

.mt-10 {
    margin-top: 10px;
}